<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="box">
      <div class="text-center">
        <h2> VETTESTAD.NO </h2>
      </div>
      <div class="row">
        <div class="col-lg-4 homepage-img text-center">
          <%= image_tag("profile_pic.jpg", :alt => "profile_pic feed")%>
        </div>
        <div class="col-lg-8 homepage-text">
          <p> Mitt navn er Mia Olea Vettestad og jeg studerer til vanlig Kybernetikk og Robotikk ved NTNU, Trondheim. Denne høsten starter jeg på mitt fjerde år på universitetet og etter planen skal jeg tilbringe det i Lubbock, Texas. Skolen jeg skal gå på heter Texas Tech University og planen er å oppdatere under blogg-kategorien med ujevne mellomrom. Du er hjertlig velkommen til å følge med!</p>
          <p> For de som er interesserte er denne siden skrevet med Ruby on Rails og front-end er et template ved navn <a href="https://startbootstrap.com/template-overviews/business-casual/">Casual Business fra StartBootstrap</a>. Jeg er helt grønn på web-utviklingsfeltet så tips mottas med STOR TAKK! </p>
        </div>
      </div>
    </div>
  </div>
</div>
